name: Release

on:
    push:
        tags:
            - "*"

jobs:
    release:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - uses: subosito/flutter-action@v2
              with:
                  flutter-version: "3.38.x"

            - run: flutter pub get
              working-directory: mobile

            - run: flutter build apk --release --split-per-abi
              working-directory: mobile

            - uses: softprops/action-gh-release@v2
              with:
                  files: |
                      mobile/build/app/outputs/flutter-apk/app-*-release.apk
